body, html {
    margin: 0px;
    background: #2543F2;
}
body {
    padding: 20px;
    box-sizing: border-box;
}
input:-webkit-autofill{
    box-shadow:inset 0 0 0 1000px #2543F2;
    background-color: #2543F2 !important;
    background-image: none !important;
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
}

.form {
    max-width: 503px;
    background: #2543F2;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.form__item {
    box-sizing: border-box;
    margin-bottom: 10px;
}
.form__item_w_10 {
    width: 100%;
}
.form__item_w_10 .mdl-textfield {
    width: 100%;
}
.form__item_w_5 {
    width: 50%;
    padding-right: 10px;
}
.form__item_w_5 + .form__item_w_5 {
    padding-left: 10px;
    padding-right: 0px;
}
.form__item_w_5 .mdl-textfield {
    width: 100%;
}
.mdl-textfield__input {
    border-bottom: 2px solid rgba(0,0,0,1);
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 15px;
    resize: none;
}
.mdl-textfield__label {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgba(255,255,255, 0.7);
    font-size: 12px;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    top: -6px;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label::after {
    background-color: #07FF84;
}

/* button */
.button {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.button__text {
    font-size: 18px;
    font-weight: 100;
    text-transform: lowercase;
    color: #07ff84;
}

/* wave */
.wave-flex {
    height: 10px;
    background-image: url("./assets/wave.svg");
    background-repeat: repeat-x;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
}

.button:hover .wave-flex {
    animation-name: wave-animation;
}

/* wave animation */
@keyframes wave-animation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -24px 0;
    }
}

/* attach */
.attach {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.attach__button {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
}
.attach__icon {
    display: block;
    width: 20px;
}
.attach__button-wrap {
    position: relative;
    overflow: hidden;
    width: 20px;
    min-width: 20px;
    margin-right: 20px;
}
.attach__button-wrap svg path {
    transition: all 0.3s;
}
.attach__button-wrap:hover svg path {
    fill: #5fffb0;
}
.attach__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
}
.attach__files {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px;
}
.attach__item {
    position: relative;
    padding-right: 20px;
    margin: 0px 20px 10px 0px;
}
.attach__item-text {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    line-height: 14px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.attach__item-button {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    position: absolute;
    height: 20px;
    width: 20px;
    right: -5px;
    top: -2px;
    background-image: url('./assets/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* panel */
.panel {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.panel__submit {
    min-width: 125px;
}
.panel__alert-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.panel__left {
    position: relative;
    width: 100%;
}

/* alert */
.alert {
    padding: 20px 30px;
    padding-right: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    position: absolute;
    top: -18px;
    left: 0;
    right: 10px;
}
.alert_theme_error {
    background: #fd3f46;
}
.alert_theme_success {
    background: #000;
}
.alert__button {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    background-image: url('./assets/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}


/* Adaptive */

@media screen and (max-width: 479px) {
    .form__item_w_5 {
        width: 100%;
        padding: 0;
    }
    .form__item_w_5 + .form__item_w_5 {
        padding: 0;
    }
    .attach {
        display: block;
    }
    .alert {
        padding: 10px 10px;
        padding-right: 10px;
    }
    .alert__button {
        margin-top: 0px;
        top: 5px;
        right: 5px;
    }
}