<div class="t696">
    <div class="t-container">
        <div class="t-width t-width_8 t696__mainblock">
            <div class="t696__mainwrapper">
                <div class="t696__content"
                     style="background-color: #ffffff; border-width: 0px; border-radius: 0; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);">
                    <div class="t696__text-wrapper t-align_center">
                        <div class="t696__title t-title t-title_xs t-margin_auto" style="" field="title">давайте
                            поговорим
                        </div>
                        <div class="t696__descr t-descr t-descr_xl t-margin_auto" style="" field="descr">Расскажите нам
                            о своих задачах. Мы всегда доступны для связи по телефону или электронной почте.
                        </div>
                    </div>
                    <div>
                        <form id="form61173942" name="form61173942" role="form" action="" method="POST"
                              data-formactiontype="2" data-inputbox=".t-input-group"
                              class="t-form js-form-proccess t-form_inputs-total_5 t-form_bbonly "
                              data-success-callback="t696_onSuccess"><input type="hidden" name="formservices[]"
                                                                            value="f589e5557c21cb6141628546acec310e"
                                                                            class="js-formaction-services"> <input
                                type="hidden" name="formservices[]" value="153df9e91b2af4e3816acc9d1230124a"
                                class="js-formaction-services"> <input type="hidden" name="formservices[]"
                                                                       value="7d6505e7b6b10cb00b170cf030cccb8e"
                                                                       class="js-formaction-services">
                            <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;"></div>
                            <div class="t-form__inputsbox">

                                <div class="t-input-group t-input-group_nm" data-input-lid="1495629963726">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no"
                                         field="li_title__1495629963726" style="">Как вас зовут?
                                    </div>
                                    <div class="t-input-block"><input type="text" name="Name"
                                                                      class="t-input js-tilda-rule t-input_bbonly"
                                                                      value="" data-tilda-req="1" data-tilda-rule="name"
                                                                      style="color:#000000; border:1px solid #d6d6d6; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>
                                <div class="t-input-group t-input-group_em" data-input-lid="1495630353482">
                                    <div class="t-input-block"><input type="text" name="Email"
                                                                      class="t-input js-tilda-rule t-input_bbonly"
                                                                      value="" placeholder="Ваша почта"
                                                                      data-tilda-req="1" data-tilda-rule="email"
                                                                      style="color:#000000; border:1px solid #d6d6d6; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>
                                <div class="t-input-group t-input-group_ph" data-input-lid="1532509038352">
                                    <div class="t-input-block"><input type="text" name="Phone"
                                                                      class="t-input js-tilda-rule t-input_bbonly"
                                                                      value="" placeholder="или телефон"
                                                                      data-tilda-req="1" data-tilda-rule="phone"
                                                                      style="color:#000000; border:1px solid #d6d6d6; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>
                                <div class="t-input-group t-input-group_ta" data-input-lid="1532509049406">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no"
                                         field="li_title__1532509049406" style="">Опишите свою задачу
                                    </div>
                                    <div class="t-input-block"><textarea name="Опишите свою задачу"
                                                                         class="t-input js-tilda-rule t-input_bbonly"
                                                                         data-tilda-req="1"
                                                                         style="color:#000000; border:1px solid #d6d6d6; height:102px"
                                                                         rows="3"></textarea>
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>
                                <div class="t-input-group t-input-group_uw" data-input-lid="1532509962569">
                                    <div class="t-input-block">
                                        <div class="t-upwidget" style="margin-bottom:10px;">
                                            <div class="t-upwidget-container" data-tilda-name="File"
                                                 data-tilda-upwidget-key="yandex-5b5730b18e769415301745"
                                                 id="8713746794270578" data-tilda-upwidget-multiple="true"
                                                 data-tilda-accept="text/*,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword,application/vnd.oasis.opendocument.*,application/pdf,application/rtf,application/vnd.visio,image/*,video/*,audio/*,application/x-rar-compressed,application/x-tar,application/zip,application/x-7z-compressed,application/x-bzip,application/x-bzip2">
                                                <div class="t-upwidget-container__button t-text">Загрузить файлы</div>
                                                <div class="t-upwidget-container__data">
                                                    <div class="t-upwidget-container__button-indiv t-text">Добавить
                                                        файлы
                                                    </div>
                                                </div>
                                            </div>
                                            <script src="https://upwidget.tildacdn.com/js/tilda-upwidget-1.1.min.js"
                                                    async=""></script>
                                        </div>
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>
                                <div class="t-form__errorbox-middle">
                                    <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                        <div class="t-form__errorbox-text t-text t-text_md"><p
                                                class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-form__submit">
                                    <button type="submit" class="t-submit"
                                            style="float: right;color:#000000;background-color:#ffffff;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);">
                                        отправить
                                    </button>
                                </div>
                            </div>
                            <div class="t-form__errorbox-bottom">
                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                    <div class="t-form__errorbox-text t-text t-text_md"><p
                                            class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p></div>
                                </div>
                            </div>
                            <div style="position: absolute; left: -5000px; bottom:0;"><input type="text"
                                                                                             name="form-spec-comments"
                                                                                             value="Its good"
                                                                                             class="js-form-spec-comments"
                                                                                             tabindex="-1"></div>
                            <div style="position: absolute; left: -5000px; bottom:0;"><input type="text"
                                                                                             name="form-spec-comments"
                                                                                             value="Its good"
                                                                                             class="js-form-spec-comments"
                                                                                             tabindex="-1"></div>
                        </form>
                        <style>
                            #rec61173942 input::-webkit-input-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 input::-moz-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 input:-moz-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 input:-ms-input-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 textarea::-webkit-input-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 textarea::-moz-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 textarea:-moz-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }

                            #rec61173942 textarea:-ms-input-placeholder {
                                color: #000000;
                                opacity: 0.5;
                            }</style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>